.container {
  display: grid;
  grid-template-columns: 500px 500px 500px;
  grid-template-rows: 500px 500px 500px; 
  background-color: #1e90ff;
  padding: 5px;
  gap: 5px;  
}
.container div {
  background-color: #f1f1f1;
  color:#000;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

