.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;


  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

.container div {
  background: linear-gradient(145deg, #2b0013, #4d0022);
  color: #f2ccee;
  padding: 25px;
  border-radius: 15px;

  
  box-shadow: 0 0 15px #8a004f, 0 0 5px #ff4da6 inset;
  border: 2px solid #b30059;
  transition: 0.3s ease-in-out;
}

.container div:hover {
  transform: scale(1.03);
  box-shadow: 0 0 25px #ff1a75, 0 0 10px #ff66b3 inset;
}


body {
  background: #000 url(https://pbs.twimg.com/media/GRZah7mW4AIyNSu?format=jpg&name=4096x4096)
    no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #ffe6f7;
}

.content {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px 40px;
  border-radius: 10px;
  max-width: 900px;
  margin: 20px auto;
}

h1 {
  color: #ff4da6;
  text-align: center;
  margin-bottom: 30px;
  text-shadow: 0 0 10px #b30059;
}

h3 {
  color: #ff66cc;
  margin-bottom: 10px;
}


p {
  font-size: 16px;
  line-height: 1.5;
}

img {
  width: 400px;
  display: block;
  margin: 15px auto;
  border-radius: 10px;
  box-shadow: 0 0 15px #b30059;
}

