body {
  background-color: #e6f2ff;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #003366;
  text-align: center;
  margin-bottom: 30px;
}

h3 {
  color: #0059b3;
  margin-top: 25px;
  margin-bottom: 5px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

img {
  width: 250px;
  border-radius: 10px;
  display: block;
  margin-top: 10px;
}
