body {
  background: #000000 url(https://pbs.twimg.com/media/GRZah7mW4AIyNSu?format=jpg&name=4096x4096);
  font-family: Arial, sans-serif;
  color: #e6d7ff;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #b3003b;
  text-align: center;
  margin-bottom: 30px;
}

h3 {
  color: #cc0052;
  margin-top: 25px;
  margin-bottom: 5px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}


